
    .h {
        color: blue;
        background-color: bisque;
        font-size: large;
    }
    .btn{
        color: brown;
        border-radius: 10%;
        background-color: aqua;
        padding: 1%a;

    }

   .img{
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10%;

   }
.input{
    padding: 1%;
    border-radius: 100px;
    border: 1px solid goldenrod;
}